@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

}

@theme inline {
    --font-sans: var(--font-inter);
    --font-abel: var(--font-abel);
    --color-primary: #292759;
    --color-secondary: #285F9D;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.font-abel {
    font-family: var(--font-abel);
}